@import 'tailwindcss';

:root {
	--background: #fcfcfc;
	--foreground: #0a0e13;
	--muted: #f5f6fa;
	--muted-hover: #f1f2f8;
	--muted-foreground: #48536b;
	--primary: #207be6;
	--primary-foreground: #ffffff;
	--primary-hover: #328df6;
	--secondary: #f5f6fa;
	--secondary-foreground: #8c8e92;
	--secondary-hover: #eceef5;
	--success: #16a34a;
	--success-hover: #15803d;
	--destructive: #c20b0a;
	--destructive-hover: #dc2626;
	--warning: #eab308;
	--warning-hover: #ca8a04;
	--info: #047af2;
	--info-hover: #0369d1;
	--border: #e0e4ec;
	--input: #f5f6fa;
	--stable-light: #fff;
	--active-item: #e8eaf1;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #05070a;
		--foreground: #fff;
		--muted: #0a0e13;
		--muted-hover: #151a24;
		--muted-foreground: #949fb7;
		--primary: #3187f3;
		--primary-foreground: #e0e6f2;
		--primary-hover: #3b82f6;
		--secondary: #0c1018;
		--secondary-foreground: #b7b8ba;
		--secondary-hover: #151a24;
		--success: #16a34a;
		--success-hover: #15803d;
		--destructive: #c20b0a;
		--destructive-hover: #dc2626;
		--warning: #eab308;
		--warning-hover: #ca8a04;
		--info: #047af2;
		--info-hover: #0369d1;
		--border: #242a37;
		--input: #0e1217;
		--stable-light: #fff;
		--active-item: #202735;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans), Arial, sans-serif;
}

@layer utilities {
	.bg-background {
		background-color: var(--background);
	}
	.text-foreground {
		color: var(--foreground);
	}
	.bg-muted {
		background-color: var(--muted);
	}
	.text-muted-foreground {
		color: var(--muted-foreground);
	}
	.text-primary {
		color: var(--primary);
	}
	.bg-primary {
		background-color: var(--primary);
	}
	.text-primary-foreground {
		color: var(--primary-foreground);
	}
	.bg-secondary {
		background-color: var(--secondary);
	}
	.text-secondary-foreground {
		color: var(--secondary-foreground);
	}
	.bg-success {
		background-color: var(--success);
	}
	.bg-destructive {
		background-color: var(--destructive);
	}
	.text-destructive-foreground {
		color: var(--destructive-foreground);
	}
	.bg-warning {
		background-color: var(--warning);
	}
	.text-warning-foreground {
		color: var(--warning-foreground);
	}
	.bg-info {
		background-color: var(--info);
	}
	.text-info-foreground {
		color: var(--info-foreground);
	}
	.border-border {
		border-color: var(--border);
	}
	.active-item {
		background-color: var(--active-item);
	}
	.focus\:ring-primary:focus {
		box-shadow: 0 0 0 2px var(--primary);
	}
	.hover\:bg-hover:hover {
		background-color: var(--muted-hover);
	}
	.hover\:bg-primary:hover {
		background-color: var(--primary-hover);
	}
	.hover\:text-foreground:hover {
		color: var(--foreground);
	}
	.hover\:bg-secondary:hover {
		background-color: var(--secondary-hover);
	}
	.hover\:bg-success:hover {
		background-color: var(--success-hover);
	}
	.hover\:bg-destructive:hover {
		background-color: var(--destructive-hover);
	}
	.hover\:bg-warning:hover {
		background-color: var(--warning-hover);
	}
	.hover\:bg-info:hover {
		background-color: var(--info-hover);
	}
	.hover\:bg-secondary:hover {
		background-color: var(--secondary-hover);
	}
}
